{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "quotes": [
		"error",
		"single",
		{ "avoidEscape": true, "allowTemplateLiterals": false }
	],
    "semi": ["error", "always"],
    "brace-style": "error",
    "curly": ["error", "all"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true, "minProperties": 1},
        "ObjectPattern": "always",
        "ImportDeclaration": "never",
        "ExportDeclaration": "never"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
